/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Racing+Sans+One');
/*custom properties*/

:root {
    --text-color: #757575;
    --heading-color: #757575;
}

body {
    color: #fff;
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
}

/*
body {
    background: linear-gradient(180deg, blue, blue 40%, red);
}
*/

/*high*/

.high-wrapper-1 {
    height: auto;
    text-align: center;
    line-height: 20vh;
    font-size: 10vh;
}

.high-wrapper-2 {
    height: auto;
    line-height: 21px;
    font-size: 14px;
    margin-top: 20px;
}

.hangman {
    font-size: 28px;
    line-height: 44px;
}

.hangman img {
    top: 0;
    width: 60%;
    height: auto;
}

/*mid*/

.mid-wrapper-1 {
    height: 40vh;
    line-height: 40vh;
    margin: 0 auto;
}

.main,
.char-name {
    text-align: center;
    display: block;
    color: #e74c3c;
}

.already-guessed {
    color: #e74c3c;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    display: block;
    visibility: hidden;
    border: 1px solid #e74c3c;
    border-radius: 2px;
}

.result {
    color: #e74c3c;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    display: none;
    visibility: hidden;
    border: 1px solid #e74c3c;
    border-radius: 2px;
}

.instructions {
    color: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    display: block;
}

.reset-game {
    background: linear-gradient(to bottom right, #e74c3c, #ff7675);
    border: 3px solid #ff7675;
    border-radius: 2px;
    margin: auto;
    margin-top: 20px;
    line-height: 42px;
    font-size: 14px;
    padding: 0px 20px 0px 20px;
}

.mid-wrapper-2 {
    width: 100vw;
}

.letters-to-guess {
    display: flex;
    justify-content: space-between;
    color: #f9ca24;
    width: 100%;
}

.letters-to-guess a {
    font-size: 14px;
    line-height: 21px;
    opacity: 1;
}

.letters-to-guess a:hover {
    text-decoration: underline;
}

.guessed {
    color: #95a5a6;
    text-decoration: none;
    opacity: .5;
}

/*low*/

.low-wrapper {
    height: 5vh;
    color: var(--text-color);
    text-align: center;
    line-height: 5vh;
    font-size: 10px;
    margin-top: 20px;
}

@media (min-width: 751px) {
    .letters-to-guess a {
        font-size: 28px;
        line-height: 33px;
    }
}